<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="MsPerCycle" value="8" />
		<add key="MaxStackSize" value="10" />
		<add key="MaxThreadCount" value="8" />
		<add key="RandomNoisePerCycle" value="4" />
		<add key="NewThreadsPerCycle" value="1" />
		<add key="SpawnLifeSpan" value="8" />
		<add key="CopySlice" value="1" />
		<add key="HaltSlice" value="1" />
		<add key="PushSlice" value="4" />
		<add key="SpawnSlice" value="1" />
		<add key="ReverseEnabled" value="false" />
		<add key="RandomizeMemoryOnInitialize" value="false" />
		<add key="UseCopyEffect" value="true" />
		<add key="UseThreadDeathEffect" value="true" />
		<add key="UseSpawnExpireEffect" value="true" />
		<add key="ThreadReductionEnabled" value="true" />
	</appSettings>
</configuration>